<div class="content-testiminio pt-4 pb-4">
  <div class="row justify-content-center m-0 p-0 gap-1">
    <div class="col-lg-5">
        <p class="text-center titulo-video">NUESTROS CLIENTES HABLAN</p>
        <P class="text-center">Nuestro objetivo es alcanzar la satisfacción del cliente. Explore algunos de los testimonios de nuestros clientes para conocer los resultados de nuestra productiva colaboración.</P>
       <div class="content-video">
        <video id="videoCustomers" loop="loop" autoplay="true" >
          <source src="assets/videos/inicio.mp4" type="video/mp4">
        </video>
       </div>
    </div>
    <div class="col-lg-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card row p-5 d-block w-100">
              <p class="card-titulo">Altoros nos ayudó a duplicar nuestra base de clientes y a lanzar varias líneas de productos nuevos.</p>
              <p>Teníamos experiencia con Altoros en un proyecto anterior y, cuando se trataba de recursos en Revere, buscamos en Altoros la experiencia y la flexibilidad que necesitábamos. En colaboración con nuestro equipo interno, nuestros contratistas de Altoros identificaron y articularon rápidamente rutas críticas en relación con nuestra hoja de ruta. Los contratistas de Altoros pudieron sumergirse desde el primer día y contribuir significativamente a nuestra organización de ingeniería.</p>
              <hr style="border: 1px solid rgb(19, 19, 43)">
              <div class="d-flex justify-content-between">
                <img src="https://www.altoroslabs.com/img/s-customers-v2-revere-logo.png" alt="" style="height: 25px">
                <p class="card-pietext">Alex Scott, cofundador de Revere</p>
              </div>
              <br>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card row p-5 d-block w-100">
              <p class="card-titulo">Altoros nos ayudó a duplicar nuestra base de clientes y a lanzar varias líneas de productos nuevos.</p>
              <p>Teníamos experiencia con Altoros en un proyecto anterior y, cuando se trataba de recursos en Revere, buscamos en Altoros la experiencia y la flexibilidad que necesitábamos. En colaboración con nuestro equipo interno, nuestros contratistas de Altoros identificaron y articularon rápidamente rutas críticas en relación con nuestra hoja de ruta. Los contratistas de Altoros pudieron sumergirse desde el primer día y contribuir significativamente a nuestra organización de ingeniería.</p>
              <hr style="border: 1px solid rgb(19, 19, 43)">
              <div class="d-flex justify-content-between">
                <img src="https://www.altoroslabs.com/img/s-customers-v2-revere-logo.png" alt="" style="height: 25px">
                <p class="card-pietext">Alex Scott, cofundador de Revere</p>
              </div>
              <br>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card row p-5 d-block w-100">
              <p class="card-titulo">Altoros nos ayudó a duplicar nuestra base de clientes y a lanzar varias líneas de productos nuevos.</p>
              <p>Teníamos experiencia con Altoros en un proyecto anterior y, cuando se trataba de recursos en Revere, buscamos en Altoros la experiencia y la flexibilidad que necesitábamos. En colaboración con nuestro equipo interno, nuestros contratistas de Altoros identificaron y articularon rápidamente rutas críticas en relación con nuestra hoja de ruta. Los contratistas de Altoros pudieron sumergirse desde el primer día y contribuir significativamente a nuestra organización de ingeniería.</p>
              <hr style="border: 1px solid rgb(19, 19, 43)">
              <div class="d-flex justify-content-between">
                <img src="https://www.altoroslabs.com/img/s-customers-v2-revere-logo.png" alt="" style="height: 25px">
                <p class="card-pietext">Alex Scott, cofundador de Revere</p>
              </div>
              <br>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
