<div class="text-center mt-5" style="font-size: 2rem; font-weight: 600;">Equipo Desarrolladores</div>
<div class="content-equipo">
  <div class="container__cards">
    <div class="card-equipo">
        <div class="cover">
            <img src="/assets/images/p1.png" alt="">
            <div class="img__back"></div>
        </div>
        <div class="description">
            <h2>Carolina Herrera</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, laboriosam.</p>
            <input type="button" value="Leer Más">
        </div>
    </div>

    <div class="card-equipo">
        <div class="cover">
            <img src="/assets/images/p2.png" alt="">
            <div class="img__back"></div>
        </div>
        <div class="description">
            <h2>Elon Musk</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, laboriosam.</p>
            <input type="button" value="Leer Más">
        </div>
    </div>

    <div class="card-equipo">
        <div class="cover">
            <img src="/assets/images/p3.png" alt="">
            <div class="img__back"></div>
        </div>
        <div class="description">
            <h2>Aya Nakamura</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, laboriosam.</p>
            <input type="button" value="Leer Más">
        </div>
    </div>

  </div>
</div>
