<div class="contenedor">
  <div class="texto-inicio">
    <p class="text-1">Bienvenidos</p>
    <p class="text-2">Si lo puedes soñar <br><br> lo podemos programar </p>
    <p class="text-3">Somos una compañia huilense de tecnologia a la  medida  <br> de los clientes en productos digitales acompañando  con <br> esto a la automatización de los procesos de tu empresa.</p>
    <button class="btn btn-primary">Ver mas</button>
  </div>
  <section id="sect1" class="sect">
    <video autoplay>
      <source src="assets/videos/inicio.mp4" type="video/mp4">
    </video>
  </section>
  <div class="capa"></div>
</div>

<section class="asociados">
  <P class="text-center subtitulo1">PARTNERTS</P>
  <P class="text-center subtitulo2">Nuestros Asociados</P>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of dynamicSlides">
      <ng-template carouselSlide class="contenedor-imagen">
        <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>

<section class="content-productos">
  <p class="text-center servicio-titulo">Nuestros Servicios</p>
  <div class="productos" >
    <mat-card *ngFor="let service of sercivios">
      <img [src]="service.src" alt="" srcset="">
      <p class="servicio-text">{{service.text}}</p>
    </mat-card>
  </div>
</section>
<a href="" class="whatsapp"><i class="bi bi-whatsapp whatsapp-icon"></i></a>

