<div class="contenedor">
  <div class="texto-inicio">
    <p class="text-1">Bienvenidos</p>
    <p class="text-2">Si lo puedes soñar <br><br> lo podemos programar </p>
    <p class="text-3">Somos una compañia huilense de tecnologia a la  medida  <br> de los clientes en productos digitales acompañando  con <br> esto a la automatización de los procesos de tu empresa.</p>
    <button class="btn btn-primary">Ver mas</button>
  </div>
  <section id="sect1" class="sect">
    <video autoplay>
      <source src="assets/videos/inicio.mp4" type="video/mp4">
    </video>
  </section>
  <div class="capa"></div>
</div>
<app-servicios></app-servicios>
<app-agendaya></app-agendaya>
<app-nosotros></app-nosotros>
<app-asociados></app-asociados>
<app-mensajes></app-mensajes>
<app-testimonios></app-testimonios>




