<!-- <a class="whatsapp"><i class="bi bi-robot whatsapp-icon" data-bs-toggle="modal" data-bs-target="#chatboot"></i></a>

<div class="modal fade" id="chatboot" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
       <iframe src='https://webchat.botframework.com/embed/chatbot-digitalsoft-bot?s=IXfQQMgDplE.0UMx9bsoZCkON2_-3z6ZkSrE8pardjEeFuBC_hbp7qs'
         style='width: auto; height: auto;'>
       </iframe>
    </div>
  </div>
</div> -->

<div class="accordion accordion-flush whatsapp" id="accordionFlushExample" style='width: 400px; height: auto;'>
  <div class="accordion-item content">
    <h2 class="accordion-header encabezado" id="flush-headingOne">
      <button class="accordion-button collapsed p-1 boton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color: rgb(19, 19, 43); color: #fff;">
       &nbsp; &nbsp; Necesitas ayuda?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <iframe src='https://webchat.botframework.com/embed/chatbot-digitalsoft-bot?s=IXfQQMgDplE.0UMx9bsoZCkON2_-3z6ZkSrE8pardjEeFuBC_hbp7qs'
        style='width: 380px; height: 500px;'>
      </iframe>
      </div>
    </div>
  </div>
</div>
